@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/Font/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(/Font/Lausanne-500.woff2);
}

::selection{
    background-color: #d3fd50;
    color:black;
}

body{
    background-color: black;
    overflow-x: hidden;
}

.moveLeft{
    animation-name: moveLeft;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes moveLeft {
    
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(-100%);
    }
}
.moveRight{
    animation-name: moveRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveRight {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(150%);
    }
    
}

/*css for people.jsx for row class*/

.row{
    position: relative;
    cursor: pointer;
    
}

.row::after{
    content:" ";
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    background-color:#D3FD50;
    transition: all ease 0.2s;
    
}

.row:hover:after{
    height: 100%;
}



/*Animation for Navbar*/
.moveX{
    animation-name: moveX;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveX {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}